html,
body {
	height: 100%;
}

body{
	font-family: Graphik, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem; 
	color: $text-white;
	letter-spacing: 0.2px;
	min-width: 300px;
	background-color: $bg-color;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}


.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.white-btn{
	padding: 13px 46px;
	background: none;
	border: 1px solid #fff;
	color: $text-white;
}

.blue-btn{
	padding: 13px 46px;
	background-color: $bg-btn;
	border: 1px solid $bg-btn;
	color: $text-white;
}

.text {
	margin: 0 auto;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.875rem;
	max-width: 580px;
	margin-bottom: 50px;
}

.title{
	font-size: 3.25rem;
	font-weight: 400;
	line-height: 3.875rem; 
	text-align: center;
	margin-bottom: 30px;
}
