@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header{
  &__inner{
    padding: 0 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    margin-left: -50px;
  }
  &__menu-list{
    display: flex;
    gap: 41px;
  }
  &__btn-menu {
    border: 0;
    padding: 0;
    background: none;
    display: none;
    cursor: pointer;
  }
}

.rightside-menu {
  display: block;
  position: absolute;
  right: -15px;
  top: -40px;
  bottom: 0;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 40px;
  box-shadow: -2px 3px 17px 0 #000;
  transition: all .6s;
  z-index: 10;
  &.rightside-menu--close{
    transform: translateX(500%);
  }
  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2.125rem;
    gap: 30px;
    align-items: center;
    color: $text-dark;
  }
  &__btn{
    display: none;
  }
}

.logo:hover{
  opacity: 1;
}

.top {
  &__buttons {
    display: flex;
    gap: 35px;
    justify-content: center;
  }
  &__content {
    padding-top: 105px;
    margin-bottom: 35px;
  }
  &__image {
    object-fit: cover;
    margin: 0 auto;
  }
  &__text {
    margin-bottom: 95px;
  }
  &__title {
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
    line-height: 5.5rem;
    max-width: 700px;
    margin-bottom: 35px;
  }
}

.features {
  &__content {
    display: flex;
    justify-content: center;
    gap: 75px;
  }
  &__content-items {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  &__content-left {
    position: relative;
    flex-shrink: 0;
  }
  &__content-text {
    font-weight: 400;
    max-width: 250px;
  }
  &__content-title {
    font-size: 1.25rem;
    line-height: 1.875rem; 
    letter-spacing: 0.1px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    width: 190px;
    &::before{
      content: '';
      position: absolute;
      top: 8px;
      left: -10px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }
  }
  &__content-title--first::before{
    background-image: url(../images/featur_icon_1.svg);
  }
  &__content-title--second::before{
    background-image: url(../images/featur_icon_2.svg);
  }
  &__content-title--third::before{
    background-image: url(../images/featur_icon_3.svg);
  }
  &__img-graph {
    position: absolute;
    right: -30px;
    bottom: -90px;
  }
  &__inner {
    padding-top: 162px;
    margin-bottom: 312px;
  }
}


.contnents {
  &__card {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    gap: 30px;
    width: 475px;
  }
  &__card-btn {
    margin: auto;
  }

  &__card-text {
    font-weight: 400;
    color: $text-dark;
    width: 270px;
    text-align: center;
  }
  &__card-title {
    color: #000;
    font-size: 1.25rem;
    line-height: 1.875rem; 
    letter-spacing: 0.1px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__cards {
    display: flex;
    justify-content: center;
    gap: 35px;
  }
  &__inner {
    margin-bottom: 200px;
  }
}

.gallery {
  &__btn {
    display: block;
    margin: 0 auto;
  }
  &__image {
    border-radius: 10px;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 33px;
    margin-bottom: 45px;
  }
  &__inner{
    padding: 0 65px;
    margin-bottom: 200px;
  }
}

.partners {
  &__btn {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &__inner {
    margin-bottom: 200px;
  }
  &__logo {
    height: 61px;
  }
  &__logos {
    display: flex;
    justify-content: center;
    gap: 74px;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }
}

.testimonials {
  &__inner {
    margin-bottom: 200px;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__review {
    padding: 40px 70px 40px 40px;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
  }
  &__review-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem; 
    letter-spacing: 0.2px;
  }
  &__review-text {
    max-width: 320px;
    font-weight: 400;
  }
  &__review-user {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  &__reviews {
    display: flex;
    flex-flow: column wrap;
    height: 700px;
    gap: 20px;
    align-items: center;
    align-content: center;
  }
}


.cta {
  &__btn {
    padding-left: 67px;
    padding-right: 67px;
    display: inline-block;
  }
  &__image {
    border-bottom-right-radius: 33px;
  }
  &__inner {
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 33px;
    background: #343434;
    margin-bottom: 290px;
  }
  &__title {
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 3.875rem;
    margin-bottom: 35px;
  }
}


.footer {
  &__address {
    margin-bottom: 50px;
    position: relative;
    top: 10px;
    padding-left: 50px;
    &::before{
      position: absolute;
      content: '';
      top: -10px;
      left: 0;
      width: 46px;
      height: 46px;
      background-image: url('../images/bx-map.webp');
    }
  }

  &__inner {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__list-item {
    margin-bottom: 20px;
  }
  &__list-title {
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
  }
  &__nav {
    display: flex;
    gap: 100px; 
  }
  &__phone {
    margin-bottom: 40px;
    position: relative;
    padding-left: 50px;
    &::before{
      position: absolute;
      content: '';
      top: -5px;
      left: 5px;
      width: 46px;
      height: 46px;
      background-image: url('../images/phone.webp');
      background-repeat: no-repeat;
    }
  }

  &__contacts{
    margin-left: 60px;
  }

  &__socials {
    max-width: 170px;
    display: flex;
    justify-content: space-between;
  }
}

@import 'media';