    <!--####### Site main - footer #######-->
    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__nav">
            <ul class="footer__list">
              <a href="#"><li class="footer__list-title">Fingertipe</li></a>
              <a href="#"><li class="footer__list-item">Home</li></a>
              <a href="#"><li class="footer__list-item">Examples</li></a>
              <a href="#"><li class="footer__list-item">Pricing</li></a>
              <a href="#"><li class="footer__list-item">Updates</li></a>
            </ul>
            <ul class="footer__list">
              <a href="#"><li class="footer__list-title">Resources</li></a>
              <a href="#"><li class="footer__list-item">Home</li></a>
              <a href="#"><li class="footer__list-item">Examples</li></a>
              <a href="#"><li class="footer__list-item">Pricing</li></a>
              <a href="#"><li class="footer__list-item">Updates</li></a>
            </ul>
            <ul class="footer__list">
              <a href="#"><li class="footer__list-title">About</li></a>
              <a href="#"><li class="footer__list-item">Home</li></a>
              <a href="#"><li class="footer__list-item">Examples</li></a>
              <a href="#"><li class="footer__list-item">Pricing</li></a>
              <a href="#"><li class="footer__list-item">Updates</li></a>
            </ul>
          </div>
          <div class="footer__contacts">
            <address class="footer__address">7480 Mockingbird Hill undefined </address>
            <p class="footer__phone"><a href="tel:2395550108">(239) 555-0108</a></p>
            <div class="footer__socials">
              <a href="#"><img src="images/social/twitter.svg" alt="social image" class="footer__social"></a>
              <a href="#"><img src="images/social/facebook.svg" alt="social image" class="footer__social"></a>
              <a href="#"><img src="images/social/linkedin.svg" alt="social image" class="footer__social"></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  <div>
<script src="js/main.min.js"></script>
</body>
</html>