<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Figma Land</title>
</head>
<body>
  <div class="wrapper"> 
    <!--####### Site header #######-->
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo" href="#">
            <img class="header__image" src="images/logo.webp" alt="logo">
          </a>
          <nav class="header__menu">
            <ul class="header__menu-list">
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Home</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Product</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">About</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Contact</a>
              </li>
            </ul>
          </nav>
          <button class="header__btn white-btn">
            Login
          </button>
          <button class="header__btn-menu" onclick="rightside_menu_open()">
            <img src="images/menu_button.svg" alt="muttin image" class="header__btn-menu-img">
          </button>
          
          <!--####### Rightside menu #######-->
          <div class="rightside-menu rightside-menu--close">
            <button class="rightside-menu__close" onclick="rightside_menu_close()">
              <img src="images/close.svg" alt="close">
            </button>
            
            <ul class="rightside-menu__menu-list">
              <li class="rightside-menu__menu-item">
                <a class="rightside-menu__menu-link" href="#">Home</a>
              </li>
              <li class="rightside-menu__menu-item">
                <a class="rightside-menu__menu-link" href="#">Product</a>
              </li>
              <li class="rightside-menu__menu-item">
                <a class="rightside-menu__menu-link" href="#">About</a>
              </li>
              <li class="rightside-menu__menu-item">
                <a class="rightside-menu__menu-link" href="#">Contact</a>
              </li>
            </ul>
            
          </div>
          <!--####### END Rightside menu #######-->

        </div>
      </div>
    </header>
    <!--####### END Site header #######-->